
#logo {
   font-family: 'Syncopate', sans-serif;
    color: rgb(80, 50, 90);
}

#noticia_h{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(80, 50, 90);
}
.video_h {
    width: 500px;
    height: 500px;
}